<div class="container">
  <center>
    <div class="card border-info mb-3" style="max-width: 30rem; margin-top: 100px;">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">
        <p>
          <strong>Survey Name: </strong>
          <%= @question.question%>
        </p>

        <p>
          <strong>Survey Description:</strong>
          <%= @question.survey.survey_name %>
        </p>
        </p>
      </div>
      <div class="card-footer bg-transparent border-info">
        <%= link_to 'Edit', edit_publication_comments_path, class: 'btn btn-outline-warning btn-sm' %> |
        <%= link_to 'Back', publications_path class: 'btn btn-outline-success btn-sm'  %>
      </div>
    </div>
  </center>
</div>