<p>
  <strong>Question:</strong>
  <%= @question.question %>
</p>

<p>
  <strong>User:</strong>
  <%= @question.user.email %>
</p>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', question_path %>