<div class="container">
  <div class="row">
      <div class="col">
          <p>
            <strong>Commenter:</strong>
            <%= comment.commenter %>
          </p>

          <p>
            <strong>Comment:</strong>
            <%= comment.body %>
          </p>
      </div>
        <div class="col">
            <p>
              <%= #/articles/:article_id/comments/:id
                  link_to 'Destroy Comment', [comment.article, comment],
                  method: :delete, :class => 'btn btn-outline-danger btn-sm',
                  data: { confirm: 'Are you sure?' } 
              %>
            </p>
        </div>
  </div>
</div>


