
<div class="row">
  <div class="col">
    <b><%= f.label :question, 'Add Question: '%></b>
  </div>
    <div class="col">
        <%= f.text_field :question, class: 'form-control', placeholder: 'Add the Question?' %>
    </div>
    <div class="col">
      <%= link_to_remove_association 'Remove Question', f, class: 'btn btn-danger btn-sm' %>
    </div>
    <br><br><br>
</div>